name: API Automation Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build and Run Tests
        run: mvn clean test
        working-directory: api-framework

      - name: Archive Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: surefire-report
          path: api-framework/target/surefire-reports
